.drop{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black 2px;
    transition: margin-top 5s ease-in 2s;
    margin-top: 0;
    margin: 0 auto;
}
.drop:hover{
    margin-top: 500px;
}