div{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin: 0 auto;
       
}
div:nth-of-type(2n){
    background-color: green;
}
div:nth-of-type(2n+1){
    background-color: yellow;
}
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translateX(-100px);
}
#four{
    transform: skew(45deg);
}
#five{
    transform: rotate(45deg) translateX(100px) translateY(50px);
}